<template>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h4><i class="fa fa-plus"></i> Cadastro de ingredientes</h4>
    </div>
    <div class="box-body">
      <section class="content">
        <div>
          <vue-form-generator :model="model" :schema="schema">
          </vue-form-generator>
          <div class="col-sm-12">
            <button class="btn btn-default" @click.prevent="addIngrediente">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </section>
    </div>
    <div class="box-footer">
      <div class="pull-right container-fluid">
        <button class="col btn btn-success" @click="comfirm">Salvar</button>
        <button class="col btn btn-danger">Cancelar</button>
      </div>
    </div>
  </div>
</template>
<script>
  import swal from 'sweetalert'
  export default {
    data () {
      return {
        model: {
          ingredientes: [
            {
              nome: '',
              quant: '',
              un: ''
            }
          ]
        },
        schema: {
          fields: [
            {
              type: 'input',
              inputType: 'text',
              label: 'Ingrediente',
              model: 'ingredientes[0].nome',
              readonly: false,
              featured: true,
              required: true,
              disabled: false,
              placeholder: 'Informe o nome de um ingrediente',
              styleClasses: ['col-sm-7']
            },
            {
              type: 'input',
              inputType: 'number',
              label: 'Quantidade',
              model: 'ingredientes[0].quant',
              readonly: false,
              featured: true,
              required: true,
              disabled: false,
              placeholder: '',
              styleClasses: ['col-sm-3']
            },
            {
              type: 'vueMultiSelect',
              inputType: 'text',
              label: 'Unidade',
              model: 'ingredientes[0].un',
              readonly: false,
              featured: true,
              required: true,
              disabled: false,
              placeholder: '',
              styleClasses: ['col-sm-2'],
              selectOptions: {
                multiple: false,
                key: 'name',
                label: 'name',
                searchable: true,
                customLabel: function (ingrediente) {
                  return ingrediente.un
                }
              },
              values: [
                {
                  'un': 'Kg'
                },
                {
                  'un': 'mg'
                },
                {
                  'un': 'lt'
                },
                {
                  'un': 'ml'
                }
              ]
            }
          ]
        }
      }
    },
    methods: {
      comfirm () {
        swal(
          {
            title: 'Salvo com sucesso',
            text: 'Cadastrar outro ingrediente ?',
            icon: 'success',
            buttons: {
              confirm: {
                text: 'sim',
                visible: true,
                value: true,
                className: ''
              },
              cancel: {
                text: 'não',
                visible: true
              }
            }
          }
        )
      },
      addIngrediente () {
        this.model.ingredientes.push(
          {
            nome: '',
            quant: '',
            un: ''
          }
        )
        this.schema.fields.push(
          {
            type: 'input',
            inputType: 'text',
            model: `${this.model.ingredientes.length}].nome`,
            readonly: false,
            featured: true,
            required: true,
            disabled: false,
            placeholder: 'Informe o nome de um ingrediente',
            styleClasses: ['col-sm-7']
          },
          {
            type: 'input',
            inputType: 'number',
            model: `ingredientes[${this.model.ingredientes.length}].quant`,
            readonly: false,
            featured: true,
            required: true,
            disabled: false,
            placeholder: '',
            styleClasses: 'col-sm-3'
          },
          {
            type: 'vueMultiSelect',
            inputType: 'text',
            model: `ingredientes[${this.model.ingredientes.length}].un`,
            readonly: false,
            featured: true,
            required: true,
            disabled: false,
            placeholder: '',
            styleClasses: ['col-sm-2'],
            selectOptions: {
              multiple: false,
              key: 'name',
              label: 'name',
              searchable: true,
              customLabel: function (ingrediente) {
                return ingrediente.un
              }
            },
            values: [
              {
                'un': 'Kg'
              },
              {
                'un': 'mg'
              },
              {
                'un': 'lt'
              },
              {
                'un': 'ml'
              }
            ]
          }
        )
      }
    }
  }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css">
  .field-wrap {
    margin-bottom: 100px;
  }
</style>
