<template>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h4><i class="fa fa-shopping-cart"></i> Venda de pizzas</h4>
    </div>
    <div class="box-body">
      <section class="container-fluid">
        <div class="">
          <vue-form-generator :model="model" :schema="schema">
          </vue-form-generator>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading"><span>Pizzas vendias</span></div>
          <div class="panel-body">
            <table class="table table-bordered table-striped container-fluid">
            <thead>
            <tr>
              <th>Sabor</th>
              <th>Ingredientes</th>
              <th>Quantidade</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="sabor in sabores">
              <td>{{sabor.nome}}</td>
              <td>
                <span v-for="ingred in sabor.ingredientes">
                  {{ingred}},
                </span>
              </td>
              <td>{{sabor.quant}}</td>
            </tr>
            </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
    <div class="box-footer">
      <button class="btn btn-danger pull-right">Voltar</button>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        sabores: [
          {
            nome: 'Calabresa',
            ingredientes: ['calabresa', 'cebola', 'tomate'],
            quant: '1'
          }
        ],
        model: {
          sabor: '',
          quantida: ''
        },
        schema: {
          fields: [
            {
              type: 'vueMultiSelect',
              inputType: 'text',
              label: 'Sabor',
              model: 'sabor',
              readonly: false,
              featured: true,
              required: true,
              disabled: false,
              placeholder: 'Qual o sabor da pizza ?',
              styleClasses: ['col-sm-4'],
              selectOptions: {
                multiple: false,
                key: 'name',
                label: 'name',
                searchable: true,
                customLabel: function (sabor) {
                  return sabor.sabor
                }
              },
              values: [
                {
                  'sabor': 'calabresa'
                },
                {
                  'sabor': 'frango'
                },
                {
                  'sabor': 'carne seca'
                }
              ]
            },
            {
              type: 'input',
              inputType: 'number',
              label: 'Quantidade',
              model: 'quantidade',
              readonly: false,
              featured: true,
              required: true,
              disabled: false,
              placeholder: '',
              styleClasses: ['col-sm-2']
            }
          ]
        }
      }
    }
  }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css">
  .scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline-block;
    height: 38vh;
    width: 100%;
  }
</style>
