<template>
  <header class="main-header">
    <!-- Logo -->
    <a href="" class="logo">
      <img src="../../assets/ssanalytics-p.png" style="width: 170px"/>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
      </div>
    </nav>
  </header>
</template>
<script>
  export default {}
</script>
<style>
</style>
