<template>
  <aside class="main-sidebar">
    <!-- Inner sidebar -->
    <div class="sidebar">
      <!-- user panel (Optional) -->
      <div class="user-panel" style="margin-top: 20px;">
        <div class="pull-left image" style="margin-top: 0;">
          <img src="../../assets/img_user.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>User name</p>
          <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
        </div>
      </div><!-- /.user-panel -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu tree" style="margin-top: 20px;">
        <li class="header">MENU PRINCIPAL</li>
        <li class="treeview active" v-for="item in menus" :key="item.key" ref="drawer">
          <a href="#">
            <i :class="item.icon"></i>
            <span>{{ item.label }}</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li v-for="submenu in item.subMenu" style="margin-left: 10px;">
              <router-link :to="{name: submenu.link}  ">
                <i :class="submenu.icon"></i>
                <span>{{ submenu.label }}</span>
              </router-link>
            </li>
          </ul>
        </li>
      </ul><!-- /.sidebar-menu -->

    </div><!-- /.sidebar -->
  </aside><!-- /.main-sidebar -->

</template>
<script>
  import Menus from '../../../config/menus'
  export default {
    data () {
      return {
        menus: Menus
      }
    }
  }
</script>
<style>

</style>
