<template>
  <div id="app">
    <dash-header></dash-header>
    <sidebar></sidebar>
    <div class="content-wrapper" style="min-height: 901px;">
      <section class="content">
        <router-view></router-view>
      </section>
    </div>
  </div>
</template>

<script>
  import DashHeader from '../src/components/dashboard/Header.vue'
  import Sidebar from './components/dashboard/SideBar.vue'
  import CastroSabor from './components/CasdatroSabor.vue'
  export default {
    name: 'app',
    components: {
      DashHeader,
      Sidebar,
      CastroSabor
    }
  }
</script>
<style>
</style>
